@page "/people/create"
@inject IPersonRepository  personRepository
@inject NavigationManager navigationManager
@attribute [Authorize]

<h3>CreatePerson</h3>
<PersonForm Person="person" OnValidSubmit="Create" />

@code {

    private Person person = new Person();

    private async Task Create()
    {
        try
        {
            await personRepository.CreatePerson(person);
            navigationManager.NavigateTo("people");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}
